<!DOCTYPE html>
<html lang="en">
    <head>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Home Page</title>
        <!-- Compiled and minified CSS -->

        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../public/stylesheets/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../public/stylesheets/materialize.css">
        <!--        <link type="text/css" rel="stylesheet" href="../public/stylesheets/ghpages-materialize.css">-->

        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="../public/javascripts/materialize.js"></script>   
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">

        <!-- HighCharts Library -->
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/modules/exporting.js"></script>

        <style>
            #rightSection {
                width: 80%;
                height: auto;
                position: absolute;
                right: 0;
            }

        </style>

    </head>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>

        <div>
            <div id="leftSection">
                <ul id="nav-mobile" class="side-nav fixed" style="width: 200px line-height: 64px;">
                    <li class="bold"><a href="" class="waves-effect waves-red">Dashboard</a></li>
                    <li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li class="bold"><a class="collapsible-header  waves-effect waves-grey">Items</a>
                                <div class="collapsible-body" style="">
                                    <ul>
                                        <li><a href="">Add Item</a></li>
                                        <li><a href="">Update Item</a></li>
                                        <li><a href="">View all Items</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold"><a class="collapsible-header  waves-effect waves-red">Orders</a>
                                <div class="collapsible-body" style="">
                                    <ul>
                                        <li><a href="">View all Orders</a></li>
                                        <li><a href="">Track Order</a></li>
                                        <li><a href="">Update Order</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="bold"><a href="about.html" onclick="signout()" class="waves-effect waves-red">Sign Out</a></li>
                </ul>
            </div>
            <div id="rightSection">
                <div class="container">
                    <div class="section">

                        <div class="row">
                            <div class="col s12 m7">
                                <div class="card">
                                    <div class="card-image">
                                        <img src="images/sample-1.jpg">
                                        <span class="card-title">Card Title</span>
                                    </div>
                                    <div class="card-content">
                                        <p>I am a very simple card. I am good at containing small bits of information.
                                            I am convenient because I require little markup to use effectively.</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="#">This is a link</a>
                                        <a href='#'>This is a link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="row">
                            <div class="row">
                                <div class="col s12">
                                    <ul class="tabs">
                                        <!-- <li class="tab col s4"><a class="active" href="#list">List</a></li> -->
                                        <li class="tab col s6"><a href="#dashboard">Dashboard</a></li>
                                        <li class="tab col s6"><a href="#launch">Launch Instance</a></li>              
                                    </ul>
                                </div>
                                <div id="list" class="col s12">

                                </div>
                                <div id="launch" class="col s12">
                                    <div class="container">
                                        <div id="deployVM" class="modal modal-fixed-footer" style="width:30%; height:45%;">
                                            <div class="modal-content">
                                                <h2>Deploy VM</h2>
                                                <div class="input-field col s12">    
                                                    <input id="vmName" type="text" class="validate">
                                                    <label for="vmName">Name Your VM</label>
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <a class="modal-action modal-close waves-effect waves-green btn-flat" onclick='createVM()'>Create</a>
                                                <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                                            </div>
                                        </div>

                                        <ul class="collapsible popout" data-collapsible="accordion">
                                            <li>                  
                                                <div class="collapsible-header" data-target="modal1" class="modal-trigger">
                                                    <span class="col s1">
                                                        <i class="mdi-hardware-desktop-windows"></i>
                                                    </span>
                                                    <span class="col s11">Please select a template from below</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="collapsible-header"><i class="mdi-maps-place"></i>Ubuntu</div>
                                                <div class="collapsible-body">
                                                    <div class="row">                      
                                                        <div class="col s12">
                                                            <div class="input-field col s12 center">    
                                                                <h3 class="card-title col s10">Ubuntu - 10GB</h3>
                                                                <span class="col s2">
                                                                    <div class="btn-floating btn-large waves-effect waves-light red modal-trigger" onclick="openModal('Ubuntu')"><i class="mdi-content-add"></i></div>
                                                                </span>
                                                            </div>
                                                            <div class="divider"></div>
                                                            <div class="input-field col s12">    
                                                                <span class="col s4">Type</span><span id="templateType" class="col s8">Plain</span>
                                                            </div>
                                                            <div class="input-field col s12">    
                                                                <span class="col s4">OS</span><span id="templateOS" class="col s8">Ubuntu</span>
                                                            </div>
                                                            <div class="input-field col s12">    
                                                                <span class="col s4">CPU</span><span id="templateCPU" class="col s8">2 core</span>
                                                            </div>
                                                            <div class="input-field col s12">    
                                                                <span class="col s4">Memory</span><span id="templateMemory" class="col s8">2048 MB</span>
                                                            </div>
                                                            <div class="input-field col s12">
                                                                <span class="col s4">Storage Capacity</span><span id="templateCapacity" class="col s8">10 GB</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="collapsible-header"><i class="mdi-social-whatshot"></i>Windows</div>
                                                <div class="collapsible-body">
                                                    <div class="row">                      
                                                        <div class="col s12">
                                                            <div class="input-field col s12 center">    
                                                                <h3 class="card-title col s10">Windows - 20GB</h3>
                                                                <span class="col s2">
                                                                    <div class="btn-floating btn-large waves-effect waves-light red modal-trigger"  onclick="openModal('Windows')"><i class="mdi-content-add"></i></div>
                                                                </span>
                                                            </div>
                                                            <div class="divider"></div>
                                                            <div class="input-field col s12">    
                                                                <span class="col s4">Type</span><span id="templateType2" class="col s8">Plain</span>
                                                            </div>
                                                            <div class="input-field col s12">    
                                                                <span class="col s4">OS</span><span id="templateOS2" class="col s8">Windows</span>
                                                            </div>
                                                            <div class="input-field col s12">    
                                                                <span class="col s4">CPU</span><span id="templateCPU2" class="col s8">2 core</span>
                                                            </div>
                                                            <div class="input-field col s12">    
                                                                <span class="col s4">Memory</span><span id="templateMemory2" class="col s8">4096 MB</span>
                                                            </div>
                                                            <div class="input-field col s12">
                                                                <span class="col s4">Storage Capacity</span><span id="templateCapacity2" class="col s8">20 GB</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                    </div> 
                                </div>
                                <div id="dashboard" class="col s12">
                                    <div class="col s12">
                                        <!-- Modal Structure -->
                                        <div id="vmDetails" class="modal modal-fixed-footer" style="width:80%; height:100%">
                                            <div class="modal-content">

                                                <div class="row">                      
                                                    <div class="col s12">
                                                        <div class="input-field col s12 center">    
                                                            <h3 class="card-title" id="vmDetailsHeading"></h3>
                                                        </div>
                                                        <div class="divider"></div>
                                                        <div class="col s4" >                            
                                                            <div class="input-field col s12">    
                                                                <span class="col s4">OS</span><span id="vmDetailsType" class="col s8"></span>
                                                            </div>
                                                            <div class="input-field col s12">    
                                                                <span class="col s4">CPU</span><span id="vmDetailsCPU" class="col s8"></span>
                                                            </div>
                                                            <div class="input-field col s12">    
                                                                <span class="col s4">Memory</span><span id="vmDetailsRam" class="col s8"></span>
                                                            </div>
                                                            <div class="input-field col s12">
                                                                <span class="col s4">Status</span><span id="vmDetailsStatus" class="col s8"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col s8">
                                                            <div id="vmStatsChart" style="margin: 0 auto"></div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="modal-footer center">
                                                <a class="modal-action modal-close waves-effect waves-green btn-flat" onclick="startStopVM();">Start/Stop</a>
                                                <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                                            </div>
                                        </div>

                                        <table class="hoverable" id="vmList">
                                            <thead>
                                                <tr>
                                                    <th data-field="name">VM Name</th>
                                                    <th data-field="type">Type</th>
                                                    <th data-field="status">Status</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <!-- <tr data-target="vmDetails" class="modal-trigger">                  
<td>VM 1</td>
<td>Linux</td>
<td>Started</td>
</tr>
-->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>        
                        </div>
                    </div>   
                </div>
            </div>
        </div>

    </body>
</html>
