<!DOCTYPE html>
<html lang="en">

<head>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="A responsive dashboard to view and analyze sales data. You can see top products, demographic data, average sales and many more views of your data. ">
    <meta name="author" content="Cmpe-280, Team 9, E Spartan.">
    <title>Welcome to Retailer Dashboard</title>
    <!-- Compiled and minified CSS -->

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.css" media="screen,projection" />
    <!-- <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.css">
         -->
    <!-- <link type="text/css" rel="stylesheet" href="/stylesheets/style.css" media="screen,projection"/> -->

    <link rel="stylesheet" type="text/css" href="http://www.highcharts.com/media/com_demo/highslide.css" />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/prettyPhoto.css" rel="stylesheet">
    <link href="/stylesheets/price-range.css" rel="stylesheet">
    <link href="/stylesheets/animate.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
    <link href="/stylesheets/responsive.css" rel="stylesheet">

    <!--        <link type="text/css" rel="stylesheet" href="../public/stylesheets/ghpages-materialize.css">-->

    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">

    <style>
        .card-header {
            font-size: 1.2em;
        }
        
        .largetext {
            font-size: 2.5em;
        }
        
        .mediumtext {
            font-size: 1.5em;
        }
        
        .normaltext {
            font-size: 1em;
        }
        
        .smalltext {
            font-size: 0.8em;
        }
    </style>

</head>

<body>
    <header id="header">
        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="index.html"><img src="/images/home/logo.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                <li><a id="logOut"><i class="fa fa-lock"></i> Log Out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/header-middle-->
        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a onclick="showDashboard()" class="active">Dashboard</a></li>
                                <li class="dropdown"><a href="#">Items<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a onclick="addItem()">Add Items</a></li>
                                        <li><a onclick="getItemList()">View Items</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Orders<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a onclick="updateOrder()">Update Orders</a></li>
                                        <li><a onclick="getOrderList()">View Orders</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="search_box pull-right">
                            <input type="text" placeholder="Search" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/header-bottom-->
    </header>
    <!--/header-->

    <section id="retailerDashboard">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section">
                        <div class="row" id="row1">
                            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                                <div class="card grey darken-3" id="dateCard">
                                    <div class="card-content waves-effect waves-block waves-dark">
                                        <!-- <div class="card-header white-text">Date</div> -->
                                        <div class="center-align">
                                            <span class="white-text mediumtext" id="dateCard-time"></span>
                                            <br/>
                                            <span id="dateCard-day" class="white-text normaltext"></span>
                                            <br/>
                                            <span class="white-text normaltext" id="dateCard-date"></span>
                                            <br/>

                                        </div>
                                    </div>
                                </div>
                                <div class="card ">
                                    <div id="" class="center card-image waves-effect waves-block waves-light">
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-header grey-text text-darken-4">Item Name <i class="mdi-navigation-close right"></i></span>
                                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <div class="card  grey darken-3" id="avgSaleCard">
                                    <div class="card-content waves-effect waves-block waves-dark">
                                        <div class="card-header white-text">Average Sale</div>
                                        <div class="left-align white-text">
                                            <span class="largetext" id="avgSaleCard-month"></span><span class="normaltext">&nbsp;This Month</span>
                                            <br/>
                                            <span class="largetext" id="avgSaleCard-year"></span><span class="normaltext">&nbsp;This Year</span>
                                        </div>
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-header grey-text text-darken-4">Item Name <i class="mdi-navigation-close right"></i></span>
                                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                    </div>
                                </div>
                                <div class="card  grey darken-3" id="totalSaleCard">
                                    <div class="card-content waves-effect waves-block waves-dark">
                                        <div class="card-header white-text">Total Sale</div>
                                        <div class="left-align white-text">
                                            <span class="largetext" id="totalSaleCard-month"></span><span class="normaltext">&nbsp;This Month</span>
                                            <br/>
                                            <span class="largetext" id="totalSaleCard-year"></span><span class="normaltext">&nbsp;This Year</span>
                                        </div>
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-header grey-text text-darken-4">Item Name <i class="mdi-navigation-close right"></i></span>
                                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12">
                                <div class="card">
                                    <!-- <div class="card-header black-text">Sale Trends</div> -->
                                    <div id="usMapSalesChart" class="center card-image">
                                        <!--<img class="activator" src="/images/girl1.jpg">-->
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">Item Name <i class="mdi-navigation-close right"></i></span>
                                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="row2">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <!-- <div class="card-header black-text">Store Comparison</div> -->
                                    <div id="storeComparisonGraph" class="center card-image waves-effect waves-block waves-light">
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">Item Name <i class="mdi-navigation-close right"></i></span>
                                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-8 col-sm-6 col-xs-12">
                                <div class="card">
                                    <!-- <div class="card-header black-text">Sale Trends</div> -->
                                    <div id="topProductsChart" class="center card-image waves-effect waves-block waves-light">
                                        <!--<img class="activator" src="/images/girl1.jpg">-->
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <div class="card">
                                    <!-- <div class="card-header black-text">Sales Location</div> -->
                                    <div id="saleTrendsGraph" class="center card-image">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="listItem">
        <div class="container">
            <div class="row">
                <div class="row" id="listItemDiv">
                    <div class="col-sm-12 center-align ">
                        <h3>View All Items</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">

                        <table class="bordered hoverable centered" id="itemListTable">
                            <thead>
                                <tr>
                                    <th data-field="id">Item Id</th>
                                    <th data-field="name">Item Name</th>
                                    <th data-field="desc">Description</th>
                                    <th data-field="price">Item Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>

                        <!-- Modal Structure -->
                        <div id="itemDetailsModal" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="itemDetails-header">Item Details</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                            <form class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="row">
                                                    <div class="col-sm-2">
                                                        <span class="">Item Id</span>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <input id="itemDetails-id" type="text" class="validate">
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <span class="">Category Id</span>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <input id="itemDetails-categoryid" type="number" class="validate">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-2">
                                                        <span class="">Name</span>
                                                    </div>
                                                    <div class="col-sm-10">
                                                        <input id="itemDetails-name" type="text" class="validate">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-2">
                                                        <span class="">Description</span>
                                                    </div>
                                                    <div class="col-sm-10">
                                                        <input id="itemDetails-desc" type="text" class="validate">

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-2">
                                                        <span class="">Features</span>
                                                    </div>
                                                    <div class="col-sm-10">
                                                        <input id="itemDetails-features" type="text" class="validate">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-2">
                                                        <span class="">Price</span>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <input id="itemDetails-price" type="number" class="validate">
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <span class="">Quantity</span>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <input id="itemDetails-quantity" type="number" class="validate">
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <span class="">Discount</span>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <input id="itemDetails-discount" type="number" class="validate">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="waves-effect waves-light btn" id="updateItem"><i class="mdi-file-cloud left"></i>Update</a>
                                        <a class="waves-effect waves-light btn" id="deleteItem"><i class="mdi-action-delete"></i>Delete</a>
                                        <a class="waves-effect waves-light btn" data-dismiss="modal">Close</a>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="addItem">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section">
                        <div class="row" id="addItemDiv">
                            <div class="col-sm-12 col-lg-6 col-md-12 center-align ">
                                <h3>Add Item</h3>
                            </div>
                            <form id="addItemForm" class="col-sm-12">
                                <div class="row">
                                    <div class="input-field col-sm-12 col-lg-6 col-md-12">
                                        <input id="addItem-name" type="text" class="validate" in >
                                        <label for="addItem-name">Item Name</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col-sm-12 col-lg-6 col-md-12">
                                        <input id="addItem-desc" type="text" class="validate">
                                        <label for="addItem-desc">Description</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col-sm-12 col-lg-6 col-md-12">
                                        <input id="addItem-categoryid" type="number" class="validate">
                                        <label for="addItem-categoryid">Category</label>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="input-field col-sm-12 col-lg-6 col-md-12">
                                        <input id="addItem-price" type="number" class="validate">
                                        <label for="addItem-price">Price</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col-sm-12 col-lg-6 col-md-12">
                                        <input id="addItem-quantity" type="number" class="validate">
                                        <label for="addItem-quantity">Quantity</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col-sm-12 col-lg-6 col-md-12">
                                        <input id="addItem-discount" type="number" class="validate">
                                        <label for="addItem-discount">Enter your Discount</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col-sm-12 col-lg-6 col-md-12">
                                        <input id="addItem-features" type="text" class="validate">
                                        <label for="addItem-features">Enter the features</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col-sm-12 col-lg-6 col-md-12 center-align">
                                        <a class="btn-floating btn-large waves-effect waves-light red" id="addItemLink"><i class="mdi-content-add"></i></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="listOrder">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section">
                        <div class="row" id="listOrderDiv">
                            <div class="col s12 center-align ">
                                <h3>View All Orders</h3>
                            </div>
                            <table class="bordered hoverable centered" id="orderListTable">
                                <thead>
                                    <tr>
                                        <th data-field="orderid">Order Id</th>
                                        <th data-field="itemid">Item Id</th>
                                        <th data-field="name">Reciepent's Name</th>
                                        <th data-field="phone">Reciepent's Phone</th>
                                        <th data-field="address">Address</th>
                                        <th data-field="update_at">Updated At</th>
                                        <th data-field="status"> Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <!-- Modal Structure -->
                            <div id="orderDetailsModal" class="modal">
                                <div class="modal-content">
                                    <h5 class="center-align">Order Summary</h5>
                                    <form class="col s12">
                                        <div class="row">
                                            <div class="input-field col s4">
                                                <input id="id" type="text" class="validate">
                                                <label for="id">Item Id</label>
                                            </div>

                                            <div class="input-field col s4">
                                                <input id="name" type="text" class="validate">
                                                <label for="name">Reciepent's Name</label>
                                            </div>

                                            <div class="input-field col s4">
                                                <input id="phone" type="number" class="validate">
                                                <label for="phone">Reciepent's Phone</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s4">
                                                <input id="card" type="number" class="validate">
                                                <label for="card">Reciepent's Card</label>
                                            </div>

                                            <div class="input-field col-sm-12 col-lg-6 col-md-12">
                                                <input id="Address" type="number" class="validate">
                                                <label for="Address">Address</label>
                                            </div>
                                            <div class="input-field col s2">
                                                <input id="status" type="number" class="validate">
                                                <label for="Status">Status</label>
                                            </div>
                                        </div>


                                    </form>
                                    <p class="center-align"><a class="waves-effect waves-light btn"><i class="mdi-file-cloud left"></i>Update</a>
                                        <a class="waves-effect waves-light btn"><i class="mdi-action-delete "></i></a></p>
                                </div>
                                <div class="modal-footer">
                                    <a href="#!" class=" modal-action modal-close waves-effect btn-flat">X</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Service</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Online Help</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Order Status</a></li>
                                <li><a href="#">Change Location</a></li>
                                <li><a href="#">FAQ’s</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Quick Shop</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">T-Shirt</a></li>
                                <li><a href="#">Mens</a></li>
                                <li><a href="#">Womens</a></li>
                                <li><a href="#">Gift Cards</a></li>
                                <li><a href="#">Shoes</a></li>
                            </ul>
                        </div>
                    </div>
                   <!--  <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Policies</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Privecy Policy</a></li>
                                <li><a href="#">Refund Policy</a></li>
                                <li><a href="#">Billing System</a></li>
                                <li><a href="#">Ticket System</a></li>
                            </ul>
                        </div>
                    </div> -->
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>About SPARTAN</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Company Information</a></li>
                                <!-- <li><a href="#">Careers</a></li>
                                <li><a href="#">Store Location</a></li>
                                <li><a href="#">Affillate Program</a></li> -->
                                <li><a href="#">Copyright</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        <div class="companyinfo">
                            <h2><span>E</span>-spartan</h2>
                            <p>Get the most recent updates from <br />our site and be updated your self...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2015 E-SPARTAN Shop. All rights reserved.</p>
                    <p class="pull-right">Designed by <span><a href="#">CMPE 280  - Team 9</a></span></p>
                </div>
            </div>
        </div>
    </footer>
    <!--/Footer-->

    <!--  Scripts-->

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/javascripts/materialize.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

    <!-- HighCharts Library -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/data.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <!-- Additional files for the Highslide popup effect -->
    <script type="text/javascript" src="http://www.highcharts.com/media/com_demo/highslide-full.min.js"></script>
    <script type="text/javascript" src="http://www.highcharts.com/media/com_demo/highslide.config.js" charset="utf-8"></script>
    <!-- Additional files for HighMaps -->
    <script src="http://code.highcharts.com/maps/modules/map.js"></script>
    <script src="http://code.highcharts.com/mapdata/countries/us/us-all.js"></script>
    <script src="/js/customDashboardCharts.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            startTime();
            $(".button-collapse").sideNav();
            $('.modal-trigger').leanModal();
            showDashboard();
        });

          $('#logOut').click(function() {
            console.log("logout");
             $.ajax({
                url: 'logout',
                type: 'POST',
                async: true,
                cache: false,
                crossDomain: true,
                dataType: "json",
                success: function(res) {
                    if (!res.type) {
                        console.log("Please try again.");
                    } else {
                        sessionStorage.removeItem("user_id");
                        window.location.href = "/";
                    }
                }
            });
        });

        function loadCards() {
            loadSaleCard();
            loadUSMapChartCard();

        }

        function loadSaleCard() {
            var d = new Date();
            yr = d.getFullYear();
            month = d.getMonth() + 1;
            rid = 4;
            startDate = month + "/01/" + yr;


            $.get("getAvgSalesByMonth", {
                year: yr,
                retailerid: rid
            }, function(res) {
                // console.log(res);
                res.forEach(function(obj) {
                    if (obj._id == month) {
                        avg = parseFloat(obj.avg).toFixed(0);
                        $('#avgSaleCard-month').html("$" + avg);
                    }
                });
            });
            $.get("getAvgSalesByYear", {
                retailerid: rid
            }, function(res) {
                //console.log(res);
                res.forEach(function(obj) {

                    if (obj._id == yr) {
                        avg = parseFloat(obj.avg).toFixed(0);
                        $('#avgSaleCard-year').html("$" + avg);
                    }
                });
            });

            $.get("getTotalSalesByMonth", {
                year: yr,
                retailerid: rid
            }, function(res) {
                //console.log(res);
                res.forEach(function(obj) {
                    if (obj._id == month) {
                        $('#totalSaleCard-month').html("$" + obj.sum);
                    }
                });

            });
            $.get("getTotalSalesByYear", {
                retailerid: rid
            }, function(res) {
                //console.log(res);
                res.forEach(function(obj) {
                    if (obj._id == yr) {
                        $('#totalSaleCard-year').html("$" + obj.sum);
                    }
                });
            });

            $.get("getSalesTrends", {
                startDate: startDate,
                endDate: new Date(),
                retailerid: rid
            }, function(res) {
                //console.log(res);
                var date = [];
                var sale = [];
                res.forEach(function(obj) {
                    var d = new Date(obj.date)
                    date[date.length] = d.getDate() + "-" + (d.getMonth() + 1);
                    sale[sale.length] = obj.sale;
                });
                // console.log(date);
                // console.log(sale);
                generateSaleTrendsGraph(date, sale);
            });

            $.get("getTopProducts", {
                year: yr,
                month: month,
                retailerid: rid
            }, function(res) {
                //console.log(res);
                var productIds = [];
                var quantity = [];
                var productName = [];
                res.forEach(function(obj) {
                    productIds[productIds.length] = obj._id;
                    productName[productName.length] = obj.name;
                    quantity[quantity.length] = obj.qty;
                });

                $('#topProductsChart').highcharts({
                    chart: {
                        type: 'bar'
                    },
                    title: {
                        text: 'Top Products'
                    },
                    xAxis: {
                        categories: productName,
                        title: {
                            text: null
                        }
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: null,
                            align: 'high'
                        }
                    },
                    plotOptions: {
                        bar: {
                            dataLabels: {
                                enabled: true,
                                borderWidth: 0
                            },
                            borderWidth: 0
                        }
                    },
                    series: [{
                        name: 'This Month',
                        data: quantity
                    }]

                });
            });


            $.get("getSaleByLocation", {
                year: yr,
                retailerid: rid
            }, function(res) {
                //console.log("Original Map:")
                    // console.log(res);

                var state = [];
                var str = "";
                res.forEach(function(obj) {
                    str += obj._id + ":" + obj.qty + ", ";
                });
              //  console.log(str);

                $('#usMapSalesChart').highcharts('Map', {

                    chart: {
                        borderWidth: 1
                    },

                    title: {
                        text: 'Sale Locations'
                    },

                    legend: {
                        layout: 'horizontal',
                        borderWidth: 0,
                        backgroundColor: '#0EA4C9',
                        floating: true,
                        verticalAlign: 'top',
                        y: 25
                    },

                    mapNavigation: {
                        enabled: true
                    },

                    colorAxis: {
                        min: 1000,
                        max: 10000,
                        type: 'logarithmic',
                        stops: [
                            [0, '#FFFFFF'],
                            [0.8, '#0EA4C9'],
                            [1, '#0EA4C9']
                        ]

                    },

                    series: [{
                        animation: {
                            duration: 1000
                        },
                        minColor: '#FFFFFF',
                        maxColor: '#0EA4C9',
                        data: res,
                        mapData: Highcharts.maps['countries/us/us-all'],
                        joinBy: ['postal-code', '_id'],
                        dataLabels: {
                            enabled: true,
                            color: 'white',
                            format: '{point._id}'
                        },
                        name: 'Sale Count',
                        tooltip: {
                            pointFormat: '{point._id}: {point.qty}'
                        }
                    }]
                });
            });


        }

        function loadUSMapChartCard() {
            //console.log("loadDateCard");


        }

        function showDashboard() {
            $('#retailerDashboard').show();
            $('#listItem').hide();
            $('#addItem').hide();
            $('#listOrder').hide();
            loadCards();
        }

        function addItem() {
            $('#retailerDashboard').hide();
            $('#retailerDashboard2').hide();
            $('#listItem').hide();
            $('#addItem').show();
            $('#listOrder').hide();
        }

        function updateOrder() {
            $('#retailerDashboard').hide();
            $('#retailerDashboard2').hide();
            $('#listItem').hide();
            $('#addItem').hide();
            $('#listOrder').hide();
        }

        function getOrderList() {
            console.log("getting order List");
            $("#orderListTable tbody").empty();
            userid = sessionStorage.getItem("user_id");
            url = "retailer/" + userid + "/order";
            $.get(url, function(res) {
                resLen = res.data.length;
                var data = res.data;
                console.log(data);

                for(var i=0;i<15; i++){
                 // $.each(data, function(thisdata) {
                    thisdata = data[i];
                    var tr = "<tr id=\"" + thisdata.orderid + "\" onclick=\"openOrderDetails(\'" + thisdata.orderid + "\') \">";
                    tr += "<td>" + thisdata.orderid + "</td>";
                    tr += "<td>" + thisdata.item_id + "</td>";
                    tr += "<td>" + thisdata.receipientName + "</td>";
                    tr += "<td>" + thisdata.receipientPhoneNumber + "</td>";
                    tr += "<td>" + thisdata.shippingAddress.State + "</td>";
                    tr += "<td>" + thisdata.updated_at + "</td>";
                    tr += "<td>" + thisdata.status + "</td>";
                    tr += "</tr>";
                    $("#orderListTable tbody").append(tr);
                }
                // });
            $('#retailerDashboard').hide();
            $('#retailerDashboard2').hide();
            $('#listItem').hide();
            $('#addItem').hide();
            $('#listOrder').show();
            });
        }

      
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);

            var weekday = new Array(7);
            weekday[0] = "Sunday";
            weekday[1] = "Monday";
            weekday[2] = "Tuesday";
            weekday[3] = "Wednesday";
            weekday[4] = "Thursday";
            weekday[5] = "Friday";
            weekday[6] = "Saturday";

            var day = weekday[today.getDay()].toUpperCase();
            $('#dateCard-day').html(day);
            $('#dateCard-date').html(today.toLocaleDateString());
            $('#dateCard-time').html(h + ":" + m + ":" + s);
            var t = setTimeout(function() {
                startTime()
            }, 500);
        }

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i
            }; // add zero in front of numbers < 10
            return i;
        }

        function getItemList() {
            console.log("getting Item List");
            $("#itemListTable tbody").empty();
            $.get("item", function(res) {
                console.log("success");
                console.log(res);
                res.forEach(function(thisdata) {
                    var tr = "<tr id=\"" + thisdata.name + "\" onclick=\"openItemDetails(\'" + thisdata._id + "\') \">";
                    tr += "<td>" + thisdata._id + "</td>";
                    if (thisdata.name.length > 50) {
                        name = thisdata.name.substring(0, 48) + "...";
                    } else {
                        name = thisdata.name;
                    }
                    if (thisdata.description.length > 100) {
                        description = thisdata.description.substring(0, 98) + "...";
                    } else {
                        description = thisdata.description;
                    }
                    tr += "<td>" + name + "</td>";
                    tr += "<td>" + description + "</td>";
                    tr += "<td>" + "$" + thisdata.price + "</td>";
                    tr += "</tr>";
                    $("#itemListTable tbody").append(tr);
                });
            });
            $('#retailerDashboard').hide();
            $('#retailerDashboard2').hide();
            $('#listItem').show();
            $('#addItem').hide();
            $('#listOrder').hide();
        }

        function openItemDetails(itemId) {
            console.log("openItemDetails(" + itemId + ")");
            $.ajax({
                url: 'item/' + itemId,
                type: 'GET',
                async: true,
                crossDomain: true, // enable this
                dataType: "json",
                cache: false,
                success: function(res) {
                    console.log(res);
                    $('#itemDetails-id').val(res._id);
                    $('#itemDetails-categoryid').val(res.category_id);
                    
                    $('#itemDetails-name').val(res.name);
                    $('#itemDetails-desc').val(res.description);
                    $('#itemDetails-price').val(res.price);
                    $('#itemDetails-discount').val(res.discount);
                    $('#itemDetails-quantity').val(res.quantity);
                    $('#itemDetails-features').val(JSON.parse(res.features));
                }
            });

            $('#itemDetailsModal').modal('show');
        }

        $('#addItemLink').click(function(){
            
            var category_id= $('#addItem-categoryid').val();
            var name = $('#addItem-name').val();
            var description= $('#addItem-desc').val();
            var price= $('#addItem-price').val();
            var discount= $('#addItem-discount').val();
            var quantity= $('#addItem-quantity').val();
            var features = JSON.stringify($('#addItem-features').val());
            $.ajax({
                url: 'item/create',
                type: 'POST',
                async: true,
                cache: false,
                crossDomain: true,
                dataType: "json",
                data: {
                    name: name,
                    description: description,
                    price: price,
                    quantity: quantity,
                    category_id: category_id,
                    discount: discount,
                    features: features
                },
                success: function(){
                    $("#addItemForm input[type=text], #addItemForm input[type=number]").val("");
                }
            });

        });


        $('#updateItem').click(function(){
            var id = $('#itemDetails-id').val();
            var category_id= $('#itemDetails-categoryid').val();
            var name = $('#itemDetails-name').val();
            var description= $('#itemDetails-desc').val();
            var price= $('#itemDetails-price').val();
            var discount= $('#itemDetails-discount').val();
            var quantity= $('#itemDetails-quantity').val();
            var features = JSON.stringify($('#itemDetails-features').val());

            if(id!=null){
                $.ajax({
                    url: 'item/update/' + id,
                    type: 'PUT',
                    async: true,
                    cache: false,
                    crossDomain: true,
                    dataType: "json",
                    data: {
                        name: name,
                        description: description,
                        price: price,
                        quantity: quantity,
                        category_id: category_id,
                        discount: discount,
                        features: features
                    },
                    success: function(){
                        alert('Item Updated');
                        getItemList();
                        $('#itemDetailsModal').modal('hide');
                    }
                });
            }

        });

        $('#deleteItem').click(function(){
            var id = $('#itemDetails-id').val();
            if(id!=null){
                $.ajax({
                    url: 'item/delete/' + id,
                    type: 'DELETE',
                    async: 'true',
                    crossDomain: true,
                    success: function(){
                        alert('Item Deleted');
                        getItemList();
                        $('#itemDetailsModal').modal('hide');
                    }
                });
            }
        });

        function openModal(templateName) {
            console.log(templateName);
            templatenameglobal = templateName;
            $('#deployVM').openModal();
        }

        function generateSaleTrendsGraph(date, sale) {
            $('#saleTrendsGraph').highcharts({
                chart: {
                    height: 300,
                    zoomType: 'xy'
                },

                title: {
                    text: 'Sale Trends'
                },
                xAxis: {
                    categories: date
                },
                yAxis: {
                    title: {
                        text: 'Sales'
                    },
                },
                series: [{
                    name: 'Date',
                    data: sale,

                }]
            });
        }
    </script>

</body>

</html>