<!DOCTYPE html>
<html lang="en">

<head>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="A responsive dashboard to view and analyze sales data. You can see top products, demographic data, average sales and many more views of your data. ">
    <meta name="author" content="Cmpe-280, Team 9, E Spartan.">
    <title>Welcome to Retailer Dashboard</title>

    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css" media="screen,projection" />

    <link rel="stylesheet" type="text/css" href="http://www.highcharts.com/media/com_demo/highslide.css" />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/prettyPhoto.css" rel="stylesheet">
    <link href="/stylesheets/price-range.css" rel="stylesheet">
    <link href="/stylesheets/animate.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
    <link href="/stylesheets/responsive.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>
    <header id="header">
        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="/"><img src="/images/home/logo.jpg" alt="Retailer dashboard page" /></a>

                      <!--       testing -->
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                <li><a id="logOut"><i class="fa fa-lock"></i> Log Out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/header-middle-->
        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a onclick="showDashboard()" class="active">Dashboard</a></li>
                                <li class="dropdown"><a href="#">Items<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a onclick="showAddItem()">Add Items</a></li>
                                        <li><a onclick="showItemList()">View Items</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Orders<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <!-- <li><a onclick="showUpdateOrder()">Update Orders</a></li> -->
                                        <li><a onclick="showOrderList()">View Orders</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="search_box pull-right">
                            <input type="text" placeholder="Search" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/header-bottom-->
    </header>
    <!--/header-->

    <section id="retailerDashboardSection">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section">
                        <div class="row" id="row1">
                            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                                <div class="card grey darken-3" id="dateCard">
                                    <div class="card-content waves-effect waves-block waves-dark">
                                        <!-- <div class="card-header white-text">Date</div> -->
                                        <div class="center-align">
                                            <span class="white-text mediumtext" id="dateCard-time"></span>
                                            <br/>
                                            <span id="dateCard-day" class="white-text normaltext"></span>
                                            <br/>
                                            <span class="white-text normaltext" id="dateCard-date"></span>
                                            <br/>

                                        </div>
                                    </div>
                                </div>
                                <div class="card ">
                                    <div id="" class="center card-image waves-effect waves-block waves-light">
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-header grey-text text-darken-4">Item Name <i class="mdi-navigation-close right"></i></span>
                                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <div class="card  grey darken-3" id="avgSaleCard">
                                    <div class="card-content waves-effect waves-block waves-dark">
                                        <div class="card-header white-text">Average Sale</div>
                                        <div class="left-align white-text">
                                            <span class="largetext" id="avgSaleCard-month"></span><span class="normaltext">&nbsp;This Month</span>
                                            <br/>
                                            <span class="largetext" id="avgSaleCard-year"></span><span class="normaltext">&nbsp;This Year</span>
                                        </div>
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-header grey-text text-darken-4">Item Name <i class="mdi-navigation-close right"></i></span>
                                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                    </div>
                                </div>
                                <div class="card  grey darken-3" id="totalSaleCard">
                                    <div class="card-content waves-effect waves-block waves-dark">
                                        <div class="card-header white-text">Total Sale</div>
                                        <div class="left-align white-text">
                                            <span class="largetext" id="totalSaleCard-month"></span><span class="normaltext">&nbsp;This Month</span>
                                            <br/>
                                            <span class="largetext" id="totalSaleCard-year"></span><span class="normaltext">&nbsp;This Year</span>
                                        </div>
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-header grey-text text-darken-4">Item Name <i class="mdi-navigation-close right"></i></span>
                                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12">
                                <div class="card">
                                    <!-- <div class="card-header black-text">Sale Trends</div> -->
                                    <div id="usMapSalesChart" class="center card-image">
                                        <!--<img class="activator" src="/images/girl1.jpg">-->
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">Item Name <i class="mdi-navigation-close right"></i></span>
                                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="row2">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <!-- <div class="card-header black-text">Store Comparison</div> -->
                                    <div id="storeComparisonGraph" class="center card-image waves-effect waves-block waves-light">
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">Item Name <i class="mdi-navigation-close right"></i></span>
                                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-8 col-sm-6 col-xs-12">
                                <div class="card">
                                    <!-- <div class="card-header black-text">Sale Trends</div> -->
                                    <div id="topProductsChart" class="center card-image waves-effect waves-block waves-light">
                                        <!--<img class="activator" src="/images/girl1.jpg">-->
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <div class="card">
                                    <!-- <div class="card-header black-text">Sales Location</div> -->
                                    <div id="saleTrendsGraph" class="center card-image">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="listItemSection">
        <div class="container">
            <div class="row">
                <div class="row" id="listItemDiv">
                    <div class="col-sm-12 center-align ">
                        <h3>View All Items</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">

                        <table class="bordered hoverable centered striped" id="itemListTable">
                            <thead>
                                <tr>
                                    <th data-field="id">Item Id</th>
                                    <th data-field="name">Item Name</th>
                                    <th data-field="desc">Description</th>
                                    <th data-field="price">Item Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--Do not remove it... Keep it blank as data is populating from script -->
                            </tbody>
                        </table>

                        <!-- Modal Structure -->
                        <div id="itemDetailsModal" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="itemDetails-header">Item Details</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <form class="col-lg-12 col-md-12 col-sm-12">
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <span class="">Item Id</span>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <input id="itemDetails-id" type="text" class="validate">
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <span class="">Category Id</span>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <input id="itemDetails-categoryid" type="number" class="validate">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <span class="">Name</span>
                                                        </div>
                                                        <div class="col-sm-10">
                                                            <input id="itemDetails-name" type="text" class="validate">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <span class="">Description</span>
                                                        </div>
                                                        <div class="col-sm-10">
                                                            <input id="itemDetails-desc" type="text" class="validate">

                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <span class="">Features</span>
                                                        </div>
                                                        <div class="col-sm-10">
                                                            <input id="itemDetails-features" type="text" class="validate">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <span class="">Price</span>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <input id="itemDetails-price" type="number" class="validate">
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <span class="">Quantity</span>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <input id="itemDetails-quantity" type="number" class="validate">
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <span class="">Discount</span>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <input id="itemDetails-discount" type="number" class="validate">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="waves-effect waves-light btn blue lighten-1" id="updateItem"><i class="mdi-file-cloud left"></i>Update</a>
                                        <a class="waves-effect waves-light btn red accent-2" id="deleteItem"><i class="mdi-action-delete"></i>Delete</a>
                                        <a class="waves-effect waves-light btn black lighten-3" data-dismiss="modal">Close</a>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="addItemSection">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section">
                        <div class="row" id="addItemDiv">
                            <div class="col-sm-12 col-lg-offset-3 col-lg-6 col-md-8 center-align ">
                                <h3>Add Item</h3>
                            </div>
                            <form id="addItemForm" class="col-sm-12 col-lg-offset-3 col-lg-6 col-md-8 center-align ">
                                <div class="row">
                                    <div class="input-field col-sm-12">
                                        <input id="addItem-name" type="text" class="validate" in>
                                        <label for="addItem-name">Item Name</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col-sm-12">
                                        <input id="addItem-desc" type="text" class="validate">
                                        <label for="addItem-desc">Description</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col-sm-12">
                                        <input id="addItem-categoryid" type="number" class="validate">
                                        <label for="addItem-categoryid">Category Id</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col-sm-12">
                                        <input id="addItem-price" type="number" class="validate">
                                        <label for="addItem-price">Price</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col-sm-12">
                                        <input id="addItem-quantity" type="number" class="validate">
                                        <label for="addItem-quantity">Quantity</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col-sm-12">
                                        <input id="addItem-discount" type="number" class="validate">
                                        <label for="addItem-discount">Enter your Discount</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col-sm-12">
                                        <input id="addItem-features" type="text" class="validate">
                                        <label for="addItem-features">Enter the features</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col-sm-12">
                                        <a class="btn-floating btn-large waves-effect waves-light red" id="addItem"><i class="mdi-content-add"></i></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="listOrderSection">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section">
                        <div class="row" id="listOrderDiv">
                            <div class="col-sm-12 center-align ">
                                <h3>View All Orders</h3>
                            </div>
                            <table class="bordered hoverable centered striped" id="orderListTable">
                                <thead>
                                    <tr>
                                        <th data-field="orderid">Order Id</th>
                                        <th data-field="itemid">Item Id</th>
                                        <th data-field="name">Reciepent's Name</th>
                                        <th data-field="phone">Reciepent's Phone</th>
                                        <th data-field="address">Address</th>
                                        <th data-field="update_at">Updated At</th>
                                        <th data-field="status"> Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--Do not remove it... Keep it blank as data is populating from script -->
                                </tbody>
                            </table>

                            <!-- Modal Structure -->
                            <div id="orderDetailsModal" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="itemDetails-header">Order Details</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <form class="col-lg-12 col-md-12 col-sm-12">
                                                        <div class="row">
                                                            <div class="col-sm-2 input-field">
                                                                <span class="">Order Id</span>
                                                            </div>
                                                            <div class="col-sm-2 input-field">
                                                                <input id="orderDetails-orderid" disabled type="text" class="validate">
                                                            </div>
                                                            <div class="col-sm-3 input-field">
                                                                <span class="">Updated At</span>
                                                            </div>
                                                            <div class="col-sm-5 input-field">
                                                                <input id="orderDetails-updated_at" disabled type="text" class="validate">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-2 input-field">
                                                                <span class="">Item Id</span>
                                                            </div>
                                                            <div class="col-sm-2 input-field">
                                                                <input id="orderDetails-item_id" disabled type="number" class="validate">
                                                            </div>
                                                            <div class="col-sm-2 input-field">
                                                                <span class="">Quantity</span>
                                                            </div>
                                                            <div class="col-sm-2 input-field">
                                                                <input id="orderDetails-quantity" disabled type="number" class="validate">
                                                            </div>
                                                            <div class="col-sm-2 input-field">
                                                                <span class="">Price</span>
                                                            </div>
                                                            <div class="col-sm-2 input-field">
                                                                <input id="orderDetails-price" disabled type="number" class="validate">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-2 input-field">
                                                                <span class="">Reciepent Name</span>
                                                            </div>
                                                            <div class="col-sm-10 input-field">
                                                                <input id="orderDetails-receipientName" disabled type="text" class="validate">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-2 input-field">
                                                                <span class="">Reciepent Phone</span>
                                                            </div>
                                                            <div class="col-sm-10 input-field">
                                                                <input id="orderDetails-receipientPhoneNumber" type="text" disabled class="validate">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-2 input-field">
                                                                <h5><u>Shipping Address</u></h5>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-2 input-field">
                                                                <span class="">Address Line 1</span>
                                                            </div>
                                                            <div class="col-sm-10 input-field">
                                                                <input id="orderDetails-addressline1" disabled type="text" class="validate">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-2 input-field">
                                                                <span class="">Address Line 2</span>
                                                            </div>
                                                            <div class="col-sm-10 input-field">
                                                                <input id="orderDetails-addressline2" disabled type="text" class="validate">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-2 input-field">
                                                                <span class="">City</span>
                                                            </div>
                                                            <div class="col-sm-3 input-field">
                                                                <input id="orderDetails-city" disabled type="text" class="validate">
                                                            </div>
                                                            <div class="col-sm-1 input-field">
                                                                <span class="">State</span>
                                                            </div>
                                                            <div class="col-sm-2 input-field">
                                                                <input id="orderDetails-state" disabled type="text" class="validate">
                                                            </div>
                                                            <div class="col-sm-1 input-field">
                                                                <span class="">Zip</span>
                                                            </div>
                                                            <div class="col-sm-2 input-field">
                                                                <input id="orderDetails-zip" disabled type="text" class="validate">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-2 input-field">
                                                                <span class="">Status</span>
                                                            </div>
                                                            <div class="col-sm-10 input-field">
                                                                    <select class="browser-default" id="orderDetails-status">
                                                                        <option value="1" selected>Pending</option>
                                                                        <option value="2">Shipped</option>
                                                                        <option value="3">Delivered</option>
                                                                        <option value="4">Cancelled</option>
                                                                    </select>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="waves-effect waves-light btn blue lighten-1" id="updateItem"><i class="mdi-file-cloud left"></i>Update</a>
                                            <a class="waves-effect waves-light btn black lighten-3" data-dismiss="modal">Close</a>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            <!-- /.modal -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Service</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Online Help</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Order Status</a></li>
                                <li><a href="#">Change Location</a></li>
                                <li><a href="#">FAQ’s</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Quick Shop</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">T-Shirt</a></li>
                                <li><a href="#">Mens</a></li>
                                <li><a href="#">Womens</a></li>
                                <li><a href="#">Gift Cards</a></li>
                                <li><a href="#">Shoes</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--  <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Policies</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Privecy Policy</a></li>
                                <li><a href="#">Refund Policy</a></li>
                                <li><a href="#">Billing System</a></li>
                                <li><a href="#">Ticket System</a></li>
                            </ul>
                        </div>
                    </div> -->
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>About SPARTAN</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Company Information</a></li>
                                <!-- <li><a href="#">Careers</a></li>
                                <li><a href="#">Store Location</a></li>
                                <li><a href="#">Affillate Program</a></li> -->
                                <li><a href="#">Copyright</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        <div class="companyinfo">
                            <h2><span>E</span>-spartan</h2>
                            <p>Get the most recent updates from
                                <br />our site and be updated your self...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2015 E-SPARTAN Shop. All rights reserved.</p>
                    <p class="pull-right">Designed by <span><a href="#">CMPE 280  - Team 9</a></span></p>
                </div>
            </div>
        </div>
    </footer>
    <!--/Footer-->

    <!--  Scripts-->

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/javascripts/materialize.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

    <!-- HighCharts Library -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/data.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <!-- Additional files for the Highslide popup effect -->
    <script type="text/javascript" src="http://www.highcharts.com/media/com_demo/highslide-full.min.js"></script>
    <script type="text/javascript" src="http://www.highcharts.com/media/com_demo/highslide.config.js" charset="utf-8"></script>
    <!-- Additional files for HighMaps -->
    <script src="http://code.highcharts.com/maps/modules/map.js"></script>
    <script src="http://code.highcharts.com/mapdata/countries/us/us-all.js"></script>
    <script src="/js/customDashboardCharts.js"></script>
    <script src="/js/retailer_home.js"></script>
</body>

</html>