<!DOCTYPE html>
<html lang="en">

<head>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Welcome Retailer</title>
    <!-- Compiled and minified CSS -->

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.css" media="screen,projection" />
    <!-- <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.css">
         -->
    <!-- <link type="text/css" rel="stylesheet" href="/stylesheets/style.css" media="screen,projection"/> -->

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/prettyPhoto.css" rel="stylesheet">
    <link href="/stylesheets/price-range.css" rel="stylesheet">
    <link href="/stylesheets/animate.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
    <link href="/stylesheets/responsive.css" rel="stylesheet">

    <!--        <link type="text/css" rel="stylesheet" href="../public/stylesheets/ghpages-materialize.css">-->

    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">

    <style>
    </style>

</head>

<body>
    <header id="header">
        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="index.html"><img src="/images/home/logo.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                <li><a onclick="logOut()"><i class="fa fa-lock"></i> Log Out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/header-middle-->
        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a href="retailer_dashboard.html" class="active">Dashboard</a></li>
                                <li class="dropdown"><a href="#">Items<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="shop.html">Add Items</a></li>
                                        <li><a href="#">View Items</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Orders<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="shop.html">Update Orders</a></li>
                                        <li><a href="#">View Orders</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="search_box pull-right">
                            <input type="text" placeholder="Search" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/header-bottom-->
    </header>
    <!--/header-->

    <section id="retailerDashboard">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card" id="dateCard">
                                    <div class="card-content waves-effect waves-block waves-light">
                                        <span class="activator card-title" id="dateCard-date"></span>
                                        <span class="activator card-title" id="dateCard-time"></span>
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">Item Name <i class="mdi-navigation-close right"></i></span>
                                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img class="activator" src="/images/girl1.jpg">
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">Item Name <i class="mdi-navigation-close right"></i></span>
                                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card" id="avgSaleCard">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img class="activator" src="/images/girl1.jpg">
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">Item Name <i class="mdi-navigation-close right"></i></span>
                                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                    </div>
                                </div>
                                <div class="card" id="totalSaleCard">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img class="activator" src="/images/girl1.jpg">
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">Item Name <i class="mdi-navigation-close right"></i></span>
                                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="card">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img class="activator" src="/images/girl1.jpg">
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">Item Name <i class="mdi-navigation-close right"></i></span>
                                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img class="activator" src="/images/girl1.jpg">
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">Item Name <i class="mdi-navigation-close right"></i></span>
                                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img class="activator" src="/images/girl1.jpg">
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">Item Name <i class="mdi-navigation-close right"></i></span>
                                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img class="activator" src="/images/girl1.jpg">
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">Item Name <i class="mdi-navigation-close right"></i></span>
                                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img class="activator" src="/images/girl1.jpg">
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">Item Name <i class="mdi-navigation-close right"></i></span>
                                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="listItem">
        <div class="container">
            <div class="row">

                <div class="row" id="listItemDiv">
                    <div class="col s12 center-align ">
                        <h3>View All Items</h3>
                    </div>
                    <table class="bordered hoverable centered" id="itemListTable">
                        <thead>
                            <tr>
                                <th data-field="id">Item Id</th>
                                <th data-field="name">Item Name</th>
                                <th data-field="desc">Description</th>
                                <th data-field="price">Item Price</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr class="modal-trigger" href="#itemDetailsModal">
                                <td>1234</td>
                                <td>Alvin</td>
                                <td>Eclair</td>
                                <td>$0.87</td>
                            </tr>
                            <tr class="modal-trigger" href="#itemDetailsModal">
                                <td>1234</td>
                                <td>Alan</td>
                                <td>Jellybean</td>
                                <td>$3.76</td>
                            </tr>
                            <tr class="modal-trigger" href="#itemDetailsModal">
                                <td>1234</td>
                                <td>Jonathan</td>
                                <td>Lollipop</td>
                                <td>$7.00</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Modal Structure -->
                    <div id="itemDetailsModal" class="modal">
                        <div class="modal-content">
                            <h2 class="center-align">Item Details</h2>
                            <br>
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="name" type="text" class="validate">
                                        <label for="name">Item Name</label>
                                    </div>

                                    <div class="input-field col s6">
                                        <input id="desc" type="text" class="validate">
                                        <label for="desc">Description</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="price" type="number" class="validate">
                                        <label for="price">Price</label>
                                    </div>

                                    <div class="input-field col s6">
                                        <input id="quantity" type="number" class="validate">
                                        <label for="quantity">Quantity</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="features" type="text" class="validate">
                                        <label for="features">Features</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="discount" type="number" class="validate">
                                        <label for="discount">Discount</label>
                                    </div>
                                </div>
                            </form>
                            <p class="center-align"><a class="waves-effect waves-light btn"><i class="mdi-file-cloud left"></i>Update</a>
                                <a class="waves-effect waves-light btn"><i class="mdi-action-delete "></i></a></p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">X</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
        </div>
        </div>
    </section>
    
    <section id="addItem">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section">
                        <div class="row" id="addItemDiv">
                            <div class="col s12 center-align ">
                                <a class="btn-floating btn-large waves-effect waves-light red" onclick="addItemInDb()"><i class="mdi-content-add"></i></a>
                                <h3>Add Item</h3>
                            </div>
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="name" type="text" class="validate">
                                        <label for="name">Item Name</label>
                                    </div>

                                    <div class="input-field col s6">
                                        <input id="desc" type="text" class="validate">
                                        <label for="desc">Description</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="price" type="number" class="validate">
                                        <label for="price">Price</label>
                                    </div>

                                    <div class="input-field col s6">
                                        <input id="quantity" type="number" class="validate">
                                        <label for="quantity">Quantity</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="features" type="text" class="validate">
                                        <label for="features">Enter the features</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="retailer_id" type="number" class="validate">
                                        <label for="retailer_id">Enter your Retailer Id</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="discount" type="number" class="validate">
                                        <label for="discount">Enter your Discount</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  
    <section id="listOrder">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <div class="section">

                        <div class="row" id="listOrderDiv">
                            <div class="col s12 center-align ">
                                <h3>View All Orders</h3>
                            </div>
                            <table class="bordered hoverable centered" id="orderListTable">
                                <thead>
                                    <tr>
                                        <th data-field="id">Item Id</th>
                                        <th data-field="name">Reciepent's Name</th>
                                        <th data-field="phone">Reciepent's Phone</th>
                                        <th data-field="card">Reciepent's Card</th>
                                        <th data-field="address">Address</th>
                                        <th data-field="created">Created At</th>
                                        <th data-field="created"> Status</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="modal-trigger" href="#itemDetailsModal">
                                        <td>1234</td>
                                        <td>Alvin</td>
                                        <td>334455667</td>
                                        <td>33344589990909999999999</td>
                                        <td>1055 Escalon Ave, Sunnyvale, CA</td>
                                        <td>12/2/1014</td>
                                        <td>Pending</td>
                                    </tr>
                                    <tr class="modal-trigger" href="#itemDetailsModal">
                                        <td>1234</td>
                                        <td>Alvin</td>
                                        <td>334455667</td>
                                        <td>33344589990909999999999</td>
                                        <td>1055 Escalon Ave, Sunnyvale, CA</td>
                                        <td>12/2/1014</td>
                                        <td>Pending</td>
                                    </tr>
                                    <tr class="modal-trigger" href="#itemDetailsModal">
                                        <td>1234</td>
                                        <td>Alvin</td>
                                        <td>334455667</td>
                                        <td>33344589990909999999999</td>
                                        <td>1055 Escalon Ave, Sunnyvale, CA</td>
                                        <td>12/2/1014</td>
                                        <td>Pending</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- Modal Structure -->
                            <div id="orderDetailsModal" class="modal">
                                <div class="modal-content">
                                    <h5 class="center-align">Order Summary</h5>
                                    <form class="col s12">
                                        <div class="row">
                                            <div class="input-field col s4">
                                                <input id="id" type="text" class="validate">
                                                <label for="id">Item Id</label>
                                            </div>

                                            <div class="input-field col s4">
                                                <input id="name" type="text" class="validate">
                                                <label for="name">Reciepent's Name</label>
                                            </div>

                                            <div class="input-field col s4">
                                                <input id="phone" type="number" class="validate">
                                                <label for="phone">Reciepent's Phone</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s4">
                                                <input id="card" type="number" class="validate">
                                                <label for="card">Reciepent's Card</label>
                                            </div>

                                            <div class="input-field col s6">
                                                <input id="Address" type="number" class="validate">
                                                <label for="Address">Address</label>
                                            </div>
                                            <div class="input-field col s2">
                                                <input id="status" type="number" class="validate">
                                                <label for="Status">Status</label>
                                            </div>
                                        </div>


                                    </form>
                                    <p class="center-align"><a class="waves-effect waves-light btn"><i class="mdi-file-cloud left"></i>Update</a>
                                        <a class="waves-effect waves-light btn"><i class="mdi-action-delete "></i></a></p>
                                </div>
                                <div class="modal-footer">
                                    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">X</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Service</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Online Help</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Order Status</a></li>
                                <li><a href="#">Change Location</a></li>
                                <li><a href="#">FAQ’s</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Quick Shop</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">T-Shirt</a></li>
                                <li><a href="#">Mens</a></li>
                                <li><a href="#">Womens</a></li>
                                <li><a href="#">Gift Cards</a></li>
                                <li><a href="#">Shoes</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Policies</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Privecy Policy</a></li>
                                <li><a href="#">Refund Policy</a></li>
                                <li><a href="#">Billing System</a></li>
                                <li><a href="#">Ticket System</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>About SPARTAN</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Company Information</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Store Location</a></li>
                                <li><a href="#">Affillate Program</a></li>
                                <li><a href="#">Copyright</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        <div class="companyinfo">
                            <h2><span>E</span>-spartan</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2013 E-SPARTAN Inc. All rights reserved.</p>
                    <p class="pull-right">Designed by <span><a href="#">CMPE 280  - Team 9</a></span></p>
                </div>
            </div>
        </div>
    </footer>
    <!--/Footer-->

    <!--  Scripts-->

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/javascripts/materialize.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">

    <!-- HighCharts Library -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>


    <script type="text/javascript">
        $(document).ready(function() {
            $(".button-collapse").sideNav();
            $('.modal-trigger').leanModal();
            $('#retailerDashboard').show();
            $('#listItem').hide();
            $('#addItem').hide();
            $('#listOrder').hide();
            getItemList();
        });

        function loadCards(){
        }

        function loadDateCard(){
          console.log("loadDateCard");
          var d = new Date();
          $('#dateCard-date').html(d.getDate());
          $('#dateCard-time').html(d.getDate());

          $('#dateCard').highcharts({

            title: {
              text: 'VM Stats'
            },
            subtitle: {
              text: 'CPU & Memory',
              x: -20
            },
            xAxis: {
              categories: data[0]
            },
            yAxis: {
              
            },
            series:  [{
                    name: 'CPU (MHz)',
                    data: data[1]
                }, {
                    name: 'Memory (MB)',
                    data: data[2]
                }]
          });
        }

        function showDiv(divid) {
            console.log(divid);

            //                $('#addItemDiv').toggle();
            //                $('#listItemDiv').toggle();
            //                console.log('\'#' + divid + '\'');
            //                str = "\'#" + divid + "\'";
            //$(str).show();
        }

        function getItemList() {
          console.log("getting Item List");
            $("#itemListTable tbody").empty();
            $.get("item", function(res) {
                console.log("success");
                console.log(res);
                  res.data.forEach(function(thisdata) {
                      var tr = "<tr id=\"" + thisdata.name + "\" onclick=\"openItemDetails(\'" + thisdata.name + "\') \">";
                      tr += "<td>" + thisdata.itemid + "</td>";
                      tr += "<td>" + thisdata.name + "</td>";
                      tr += "<td>" + thisdata.description + "</td>";
                      tr += "<td>" + thisdata.price + "</td>";
                      tr += "</tr>";
                      $("#itemListTable tbody").append(tr);
                  });
            });
        }

        function getOrderList() {}

        function logOut() {
            console.log("logout");
            $.post("/logout").done(function(res) {
                if (!res.type) {
                    console.log("Please try again.");
                } else {
                    window.location.href = "/";
                }
            });
        }

        function openItemDetails(vmName) {
            console.log("openItemDetails(" + vmName + ")");
            var instances = JSON.parse(sessionStorage.getItem("instances"));
            console.log('/vm/' + vmName + '/statistics');
            $.ajax({
                url: '/vm/' + vmName + '/statistics',
                type: 'GET',
                async: true,
                crossDomain: true, // enable this
                dataType: "json",
                cache: false,
                success: function(res) {
                    console.log(res.data);
                    visitorData(res.data);
                }
            });
            instances.forEach(function(thisinstance) {
                if (thisinstance.name == vmName) {
                    console.log(thisinstance);
                    $('#vmDetailsHeading').text(thisinstance.name);
                    $('#vmDetailsType').text(thisinstance.type);
                    $('#vmDetailsRam').text(thisinstance.ram);
                    $('#vmDetailsCPU').text(thisinstance.cpu);
                    $('#vmDetailsStatus').text(thisinstance.status);
                } else {
                    return;
                }
            });
            $('#vmDetails').openModal();
        }

        function openModal(templateName) {
            console.log(templateName);
            templatenameglobal = templateName;
            $('#deployVM').openModal();
        }
    </script>

</body>

</html>