<!DOCTYPE html>
<html>
	<head>
		
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>Home Page</title>
		<!-- Compiled and minified CSS -->

		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css"  media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="/stylesheets/materialize.css">

		<!--Import javascripts-->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

		<script src="https://code.jquery.com/jquery-2.1.1.js"></script>
		<script src="/javascripts/materialize.js"></script>

		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
		
		<script type="text/javascript">
			$(document).ready(function(){
				// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
				$('.modal-trigger').leanModal();
			});
		</script>
		
		<script src="/javascripts/user.js"></script>
		<script src="/javascripts/services/userService.js"></script>
		<script src="/javascripts/services/instanceService.js"></script>
		<script src="/javascripts/controllers/UserEntryCtrl.js"></script>
		<script src="/javascripts/controllers/PC2Ctrl.js"></script>
		
		
		

		<!--		<script src="../public/javascripts/materialize.js"></script>-->
	</head>

	<body ng-app='userModule'>
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>


		<!-- Angular Material Javascript now available via Google CDN; version 0.8 used here -->
		<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>
		<div class="navbar-fixed">
		<nav class="grey darken-3 lighten-1" role="navigation">
			<div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Marketing Dashboard</a>
				<ul class="right hide-on-med-and-down">
					<li><a href="#">Navbar Link</a></li>
				</ul>

				<ul id="nav-mobile" class="side-nav">
					<li><a href="#">Navbar Link</a></li>
				</ul>
				<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
			</div>
		</nav>
		</div>

		<ui-view></ui-view>

		<script type="text/ng-template" id="/login.html" >

		<div class="container">
			<div class="section">
				<div class="row">
					<form class="col s6" ng-submit="loginUser()">
						<h4>Sign In</h4>
						<div class="input-field col s12">
							<input type="text" ng-model="username">
							<label for="userName">Username</label>
			</div>

						<div class="input-field col s12">
							<input type="password" ng-model="password">
							<label for="password">Password</label>
			</div>

						<div class="input-field col s12 center">
							<button class="btn waves-effect waves-light  grey darken-3" type="submit">Sign In</button>
			</div>

			</form>

					<form class="col s6" ng-submit="signupUser()">
						<h4>Sign Up</h4>
						<div class="input-field col s12">
							<input id="firstName" type="text" class="validate" ng-model="firstname">
							<label for="firstName">First Name</label>
			</div>

						<div class="input-field col s12">
							<input id="lastName" type="text" class="validate" ng-model="lastname">
							<label for="lastName">Last Name</label>
			</div>

						<div class="input-field col s12">
							<input id="newusername" type="text" class="validate" ng-model="newusername">
							<label for="newusername">Username</label>
			</div>

						<div class="input-field col s12">
							<input id="newpassword" type="password" class="validate" ng-model="newpassword">
							<label for="newpassword">Password</label>

							<div id="dvHelp" style="display:none; float:right; width:225px"></div>
							<progress id="pBarPasswordStrength" style="display:none" max="100" value="0"></progress>
							<label id="lblPasswordStrength" style="float:right"></label>
			</i>
			</div>
					<div class="input-field col s12">
						<input id="confirmPassword" type="password" class="validate" ng-model="newrepassword">
						<label for="confirmPassword">Confirm Password</label>
			</div>
					<div class="input-field col s12 center">
						<button class="btn waves-effect waves-light  grey darken-3" type="submit">Sign Up</button>

			</div>
			</form>
			</div>

			<!--   Icon Section   -->
			</div>
		<br>
		<br>

			</div>
			
						<div class="container">
			<div class="section">
				<div class="row">
					<div class="row">
						<div class="col s12">
							<ul class="tabs">
								<li class="tab col s4"><a class="active" href="#dashboard">Dashboard</a></li>
								<li class="tab col s4"><a href="#launch">Launch Instance</a></li>
								<li class="tab col s4"><a href="#status">Status</a></li>
			</ul>
			</div>

						<div id="status" class="col s12"></div>

						<div id="launch" class="col s12">
							<ul class="collapsible popout" data-collapsible="accordion">
								<li>
									<div class="collapsible-header" data-target="modal1" class="modal-trigger">
										<span class="col s2">
											<i class="mdi-hardware-desktop-windows"></i>
			</span>
										<span class="col s4">VM Name</span>
										<span class="col s4">Type</span>
										<span class="col s2">Status</span>
			</div>

									<div class="collapsible-body">
										<p>Lorem ipsum dolor sit amet.</p>
			</div>
			</li>

								<li>
									<div class="collapsible-header" ng-click="showMe = !showMe"><i class="mdi-maps-place"></i>Second</div>
									<div  ng-show="true">
										<p>Lorem ipsum dolor sit amet.</p>
			</div>
			</li>

								<li>
									<div class="collapsible-header"><i class="mdi-social-whatshot"></i>Third</div>
									<div class="collapsible-body">
										<p>Lorem ipsum dolor sit amet.</p>
			</div>
			</li>
			</ul>
			</div>

						<div id="dashboard" class="col s12">
							<div class="col s12">
								<!-- Modal Structure -->
								<div id="vmDetails" class="modal modal-fixed-footer">
									<div class="modal-content">

										<div class="row">                      
					                      <div class="col s12">
					                            <div class="input-field col s12 center">    
					                              <h3 class="card-title">{{thisinstance.name}}</h3>
			</div>
					                            <div class="divider"></div>
					                            <div class="input-field col s12">    
					                              <span class="col s4">Type</span><span id="templateType" class="col s8">{{thisinstance.type}}</span>
			</div>
					                            <div class="input-field col s12">    
					                              <span class="col s4">OS</span><span id="templateType" class="col s8">{{thisinstance.type}}</span>
			</div>
					                            <div class="input-field col s12">    
					                              <span class="col s4">CPU</span><span id="templateType" class="col s8">{{thisinstance.cpu}}</span>
			</div>
					                            <div class="input-field col s12">    
					                              <span class="col s4">Memory</span><span id="templateType" class="col s8">{{thisinstance.ram}}</span>
			</div>
					                            <div class="input-field col s12">
					                              <span class="col s4">Storage Capacity</span><span id="templateType" class="col s8">{{thisinstance.storage}}</span>
			</div>
			</div>
			</div>
			</div>
					                <div class="modal-footer">
					                  <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">Start/Stop</a>
					                  <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
			</div>
			</div>

								<table class="hoverable">
									<thead>
										<tr>
											<th data-field="name">VM Name</th>
											<th data-field="type">Type</th>
											<th data-field="status">Status</th>
			</tr>
			</thead>

									<tbody>
										<tr data-target="vmDetails" class="modal-trigger" ng-repeat="instance in instances">
												<td ng-click="saveThisInstance(instance)">{{instance.name}}</td>
												<td ng-click="saveThisInstance(instance)">{{instance.type}}</td>
												<td ng-click="saveThisInstance(instance)">{{instance.status}}</td>
			</tr>
			</tbody>
			</table>
			</div>
			</div>
			</div>



			</div>

				<!--   Icon Section   -->
			</div>
			<br>
			<br>

			</div>
		
		</script>

		<script type="text/ng-template" id="/dashboard.html">
		<div class="container">
			<div class="section">
				<div class="row">
					<div class="row">
						<div class="col s12">
							<ul class="tabs">
								<li class="tab col s4"><a class="active" href="#dashboard">Dashboard</a></li>
								<li class="tab col s4"><a href="#launch">Launch Instance</a></li>
								<li class="tab col s4"><a href="#status">Status</a></li>
			</ul>
			</div>

						<div id="status" class="col s12"></div>

						<div id="launch" class="col s12">
							<ul class="collapsible popout" data-collapsible="accordion">
								<li>
									<div class="collapsible-header" data-target="modal1" class="modal-trigger">
										<span class="col s2">
											<i class="mdi-hardware-desktop-windows"></i>
			</span>
										<span class="col s4">VM Name</span>
										<span class="col s4">Type</span>
										<span class="col s2">Status</span>
			</div>

									<div class="collapsible-body">
										<p>Lorem ipsum dolor sit amet.</p>
			</div>
			</li>

								<li>
								<button ng-click="showMe = !showMe">Button</Button>
									<div class="collapsible-header" ng-click="showMe = !showMe"><i class="mdi-maps-place"></i>Second</div>
									<div class="collapsible-body" ng-show="showMe">
										<p>Lorem ipsum dolor sit amet.</p>
			</div>
			</li>

								<li>
									<div class="collapsible-header"><i class="mdi-social-whatshot"></i>Third</div>
									<div class="collapsible-body">
										<p>Lorem ipsum dolor sit amet.</p>
			</div>
			</li>
			</ul>
			</div>

						<div id="dashboard" class="col s12">
							<div class="col s12">
								<!-- Modal Structure -->
								<div id="vmDetails" class="modal modal-fixed-footer">
									<div class="modal-content">

										<div class="row">                      
					                      <div class="col s12">
					                            <div class="input-field col s12 center">    
					                              <h3 class="card-title">{{thisinstance.name}}</h3>
			</div>
					                            <div class="divider"></div>
					                            <div class="input-field col s12">    
					                              <span class="col s4">Type</span><span id="templateType" class="col s8">{{thisinstance.type}}</span>
			</div>
					                            <div class="input-field col s12">    
					                              <span class="col s4">OS</span><span id="templateType" class="col s8">{{thisinstance.type}}</span>
			</div>
					                            <div class="input-field col s12">    
					                              <span class="col s4">CPU</span><span id="templateType" class="col s8">{{thisinstance.cpu}}</span>
			</div>
					                            <div class="input-field col s12">    
					                              <span class="col s4">Memory</span><span id="templateType" class="col s8">{{thisinstance.ram}}</span>
			</div>
					                            <div class="input-field col s12">
					                              <span class="col s4">Storage Capacity</span><span id="templateType" class="col s8">{{thisinstance.storage}}</span>
			</div>
			</div>
			</div>
			</div>
					                <div class="modal-footer">
					                  <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">Start/Stop</a>
					                  <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
			</div>
			</div>

								<table class="hoverable">
									<thead>
										<tr>
											<th data-field="name">VM Name</th>
											<th data-field="type">Type</th>
											<th data-field="status">Status</th>
			</tr>
			</thead>

									<tbody>
										<tr data-target="vmDetails" class="modal-trigger" ng-repeat="instance in instances">
												<td ng-click="saveThisInstance(instance)">{{instance.name}}</td>
												<td ng-click="saveThisInstance(instance)">{{instance.type}}</td>
												<td ng-click="saveThisInstance(instance)">{{instance.status}}</td>
			</tr>
			</tbody>
			</table>
			</div>
			</div>
			</div>



			</div>

				<!--   Icon Section   -->
			</div>
			<br>
			<br>

			</div>

		</script>
		
		<footer class="page-footer grey darken-3">

			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="white-text">TEAM 01</h5>
						<p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
					</div>
					<div class="col l3 s12">
						<h5 class="white-text">Team Members</h5>
						<ul>
							<li><a class="white-text" href="#!">Piyush</a></li>
							<li><a class="white-text" href="#!">Sumit</a></li>
							<li><a class="white-text" href="#!">Vaibhav</a></li>
							<li><a class="white-text" href="#!">Surabhi</a>
							<li><a class="white-text" href="#!">Prajakta</a></li>
							</li>
						</ul>
				</div>
				<div class="col l3 s12">
					<h5 class="white-text">Connect</h5>
					<ul>
						<li><a class="white-text" href="#!">Link 1</a></li>
						<li><a class="white-text" href="#!">Link 2</a></li>
						<li><a class="white-text" href="#!">Link 3</a></li>
						<li><a class="white-text" href="#!">Link 4</a></li>
					</ul>
				</div>
			</div>
			</div>

		<div class="footer-copyright">
			<div class="container">
				Made by <a class="green-text text-lighten-3" href="http://materializecss.com">CmpE 283: Team 01</a>
			</div>
		</div>
		</footer>
	<!--  Scripts-->
	</body>
</html>