/*
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
*/

a {
  color: #00B7FF;
}

header, main, footer {
  padding-left: 240px; }


@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0; } }

a.button-collapse.top-nav {
  position: absolute;
  text-align: center;
  height: 48px;
  width: 48px;
  left: 7.5%;
  top: 0;
  float: none;
  margin-left: 1.5rem;
  color: #fff;
  font-size: 32px;
  z-index: 2;
}

a.button-collapse.top-nav.full {
    line-height: 122px; 
}

@media only screen and (max-width : 600px) {
  a.button-collapse.top-nav {
    left: 5%; 
    } 
}

.card-data {
    padding: 3%;
    border-radius: 0 0 2px 2px;
 }
 .card-item-name .card-item-price .card-item-add-to-cart{
 	font-size: 1.2em;
 }
  